<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="SqlServerHelper" connectionString="data source=SZPC1938;initial catalog=Data2014;uid=data_user;pwd=h@qqy$m@ker;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>-->
    <add name="SqlServerHelper" connectionString="data source=(local);initial catalog=NBA;uid=data_user;pwd=h@qqy$m@ker;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="NBAConnectionString" connectionString="data source=(local);initial catalog=NBA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
